/* This is your custom CSS file */
/* Variables */

:root {
	--x-gap: 1.8rem;
	--y-gap: 4rem;
}

/* General */

body {
	zoom: 0.8;
	background: white;
	background-repeat: no-repeat;
	background-size: auto;
	font-family: Arial, Helvetica, sans-serif;
	overflow: hidden;
	width: auto;
	scale: 1;
	overflow-y: auto;
	overflow-x: hidden;
}

.principal {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.principal__center {
	margin-left: 0rem;
	margin-right: 0rem;
	width: 600px;
	flex-direction: column;
}






/* HEADER */
/* container first */

.first {
	display: none;
}

.logo {
	display: none;
}

.logo_black_capsoff {
	zoom: 1;
	position: relative;
	width: 9rem;
	top: 1rem;
	left: -0.5rem;
}

.mobile-nav__toggle {
	background: url('https://res.cloudinary.com/dewznnjqr/image/upload/v1678117897/menu_lmrywe.webp');
	background-repeat: no-repeat;
	border: 0;
	display: block;
	background-size: contain;
	position: absolute;
	width: 3rem;
	aspect-ratio: 1;
	top: 1.5rem;
	right: 1rem;
	z-index: 9999;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}




/* container second */

.divider {
	display: none;
}

.main__navigation {
	position: fixed;
	inset: 0 0 0 0%;
	flex-direction: column;
	padding: 70px 18px 0px 18px;
	display: inline-block;
	list-style: none;
	margin: 0px;
	text-align: right;
	transform: translateX(100%);
	transition: all .33s ease-in-out;
	background-color: #111111 !important;
	z-index: 1;

}

.noborder {
	border-bottom: none;
}

.container.second a {
	color: white;
	font-size: large;
}

.container.second li {
	border-bottom: 2px solid rgb(60, 60, 60);
}

.main__navigation[data-visible="true"] {
	transform: translateX(0%);
}

.logo_white_capsoff_button {
	/* display: none; */
	position: absolute;
	inset: 0 0 0 0%;
	transform: translateX(100%);
	transition: all .33s ease-in-out;
	left: -9.3rem;
	top: 1.5rem;
	width: 10rem;
	z-index: 2;
}

.logo_menu2 {
	position: absolute;
	inset: 0 0 0 0%;
	transform: translateX(100%);
	transition: all .33s ease-in-out;
	left: 34rem;
	top: 1.5rem;
	width: 2rem;
	z-index: 3;
}

.logo_white_capsoff_button[data-visible="true"] {
	transform: translateX(0%);
}

.navigation {
	align-items: center;
	justify-content: space-between;
}




/* container third */

.stock {
	/* align-items: center; */
	/* justify-content: space-between; */
	overflow: auto;
	white-space: nowrap;
}

.stock.flex {
	display: contents;
}

.main__stock {
	display: inline-block;
	gap: 1rem !important;
	justify-content: space-between;
	flex-direction: row;
	list-style: none;
	overflow: auto;
	white-space: nowrap;
	margin-top: 2rem;
	padding-left: 0rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	width: 100%;
	border-bottom: 2px solid rgb(200, 200, 200);
	border-top: 2px solid rgb(200, 200, 200);
	margin-bottom: 1rem;
}

/* .stock__item a:hover {
	background-color: yellow;
} */

.stock__item {
	display: inline-block;
	/* text-align: center; */
	width: 39.5%;
}

.main__stock.flex.spaced {
	display: block;
	gap: 5rem;
}

.price {
	font-weight: lighter;
}

.percentage_minus {
	font-weight: bold;
	color: red;
}

.percentage_plus {
	font-weight: bold;
	color: green;
}




/* MAIN */
/* container fourth */
.main {
	position: relative;
	width: 100%;
}

.fourth {
	position: relative;
	display: flex;
	flex-direction: column;
}

.markets {
	position: relative;
	inset: unset;
	align-items: center;
	justify-content: space-between;
	text-align: left;
	order: 1;
	flex-basis: 100%;
	flex-shrink: 1;
	margin: 0;
}

.tradingpic {
	display: absolute;
	top: 0;
	left: 0;
	max-width: 100%;
	width: 100%;
	padding-bottom: 1rem;
}

.whiteONblack {
	position: absolute;
	border: 1px solid black;
	padding: 2px 8px 2px 8px;
	top: 1.8rem;
	left: 1.65rem;
	color: white;
	background-color: black;
}

.whiteONtop {
	position: absolute;
	bottom: 6rem;
	left: 1.5rem;
	color: white;
	font-size: 2rem;
	line-height: 1em;
	width: 35rem;
}

.grayONtop {
	position: absolute;
	bottom: 2rem;
	left: 1.57rem;
	color: rgb(100, 100, 100);
	font-size: small;
}

.grayONtop__button {
	position: absolute;
	border: 1px solid rgb(100, 100, 100);
	border-radius: 25px;
	padding: 2px 8px 2px 8px;
	bottom: 2rem;
	right: 1.5rem;
	color: rgb(100, 100, 100);
	font-size: small;
}

.latest {
	flex-direction: row;
	align-items: center;
	justify-content: center;
	order: 2;
	flex-shrink: 0;
	width: 100%;
}

.main__latest {
	position: relative;
	flex-direction: column;
	gap: 1rem !important;
	inset: unset;
	padding: 0rem 0rem 0.5rem 0rem;
	width: 100%;
	justify-content: space-between;
	list-style: none;
	text-align: left;
	overflow: hidden;
}

.latest__item.pink {
	display: none;
}

a.black.lineh {
	display: block;
	height: auto;
	width: 100%;
}

li.latest__item.graydivider {
	border-left: none;
	border-bottom: 2px solid rgb(200, 200, 200);
	padding-left: 0px;
	padding-bottom: 0.5rem;
}

li.latest__item.plus.graydivider {
	border-left: none;
	padding-left: 0rem;
}

.graydivider {
	border-bottom: none;
	padding-bottom: none;
}

.pink {
	background-color: rgba(255, 192, 203, 0.4);
	border-left: 5px solid red;
	padding: 0%;
	margin-bottom: 1rem;
	line-height: 1em;
}

.plus {
	border-top: none;
	padding-bottom: none;
}

.greysmall {
	color: rgb(200, 200, 200);
	font-size: small;
	padding-top: 0.75rem;
	padding-bottom: 0.2rem;
	height: 1rem;
}

.greybold {
	color: black;
	text-decoration: none;
	transition: all .33s ease-in-out;
	white-space: nowrap;
	font-size: small;
}

.blackbold {
	color: black;
	text-decoration: none;
	transition: all .33s ease-in-out;
	font-size: small;
}

/* li.active a {
  font-weight: bold;
} */

a:hover {
	color: #7a7a7a;
	text-decoration: none;
}




/* FOOTER */

footer {
	display: block;
	position: relative;
	width: 840px;
	z-index: 5;
}

.overflow_test2 {
	position: absolute;
	width: 1000vw;
	margin-left: -500vw;
	left: 50%;
	height: 100%;
	background-color: #111111;
	overflow: hidden;
	margin-bottom: -2rem;
	padding-top: 4rem;
}




/* container fifth */

.fifth {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	justify-content: center;
	padding: 0rem 0rem 2rem 0rem;
	gap: 1rem !important;
	inset: unset;
	flex-wrap: nowrap;
	margin-top: 2rem;
}

.online__ {
	display: block;
	position: absolute;
}

.online__first {
	position: absolute;
	height: 2.5rem;
}

.online__second {
	display: flex;
	position: absolute;
	top: -3rem;
	flex-direction: row;
}

.logo_white_capsoff {
	position: absolute;
	left: -0.5rem;
	top: 2.2rem;
	width: 10rem;
}

.online {
	flex-direction: column;
	width: 10rem;
}

.socialnetworks {
	position: relative;
	width: 2rem;
}

.info1 {
	position: relative;
	flex-direction: row;
	gap: 0rem !important;
	inset: unset;
	justify-content: space-between;
	list-style: none;
	width: 600px;
	padding: 8rem 0rem 1rem 0rem;

}

.media {
	position: relative;
	flex-direction: column;
}

.media1 {
	position: relative;
	flex-direction: column;
}

.media2 {
	position: relative;
	flex-direction: column;
}

.active {
	margin-bottom: 2rem;
}

.main__media {
	position: relative;
	flex-direction: column;
	inset: unset;
	list-style: none;
	text-align: left;
	padding: 0;
}

.whiteONblacksmall {
	color: white;
	height: 1rem;
}

.lightgrey {
	color: rgb(100, 100, 100);
	margin: 0rem;
	font-size: small;
}

.media_blank {
	width: 0.01px;
}

.help {
	position: relative;
	flex-direction: row;
	gap: 1rem !important;
	inset: unset;
	justify-content: space-between;
	list-style: none;
	width: 600px;
	border-top: 2px solid rgb(60, 60, 60);
	padding: 1rem 0rem 0rem 0rem;
	margin-bottom: -2rem;
}

.darkgrey {
	color: rgb(60, 60, 60);
	margin: 0rem;
	font-size: small;
}

.shrink {
	flex-grow: 1.78;
}

.grow {
	flex-grow: 2;
}

.main__help {
	position: relative;
	flex-direction: row;
	gap: 1rem !important;
	inset: unset;
	justify-content: space-between;
	list-style: none;
	width: 100%;
	padding: 0rem 0rem 0rem 0rem;
	flex: 2;
	flex-direction: row;
	text-align: right;
}




/* Utility */

.flex {
	display: flex;
}

.flex.spaced {
	gap: var(--x-gap, --y-gap);
}

.black {
	color: black;
	margin: 0rem;
}

.lineh {
	display: block;
	line-height: 1.2;
}

.blackbold {
	color: black;
	font-weight: bold;
	margin: 0rem;
}

.grey {
	color: rgb(150, 150, 150);
}

.greybold {
	color: rgb(150, 150, 150);
	font-weight: bold;
}




/* MEDIA SCREEN TO THIRD PAGE */

@media screen and (min-width: 37.5rem) {

	/* Variables */

	:root {
		--x-gap: 1.8rem;
		--y-gap: 1rem;
	}

	/* General */

	body {
		zoom: 0.8;
		background: white;
		background-repeat: no-repeat;
		background-size: auto;
		font-family: Arial, Helvetica, sans-serif;
		overflow-y: auto;
		overflow-x: hidden;
	}

	.principal {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.principal__center {
		margin-left: 0rem;
		margin-right: 0rem;
		width: 600px;
		flex-direction: column;
	}




	/* HEADER */
	/* container first */

	.first {
		display: none;
	}

	.logo {
		display: none;
	}

	.logo_black_capsoff {
		zoom: 1;
		position: relative;
		width: 9rem;
		top: 1rem;
		left: -0.5rem;
	}

	.mobile-nav__toggle {
		background: url('https://res.cloudinary.com/dewznnjqr/image/upload/v1678117897/menu_lmrywe.webp');
		background-repeat: no-repeat;
		border: 0;
		display: block;
		background-size: contain;
		position: absolute;
		width: 3rem;
		aspect-ratio: 1;
		top: 1.5rem;
		right: 1rem;
		z-index: 9999;
	}

	.sr-only {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		border: 0;
	}




	/* container second */

	.divider {
		display: none;
	}

	.main__navigation {
		position: fixed;
		inset: 0 0 0 0%;
		flex-direction: column;
		padding: 70px 18px 0px 18px;
		display: inline-block;
		list-style: none;
		margin: 0px;
		text-align: right;
		transform: translateX(100%);
		transition: all .33s ease-in-out;
		background-color: #111111 !important;
	}

	.container.second a {
		color: white;
		font-size: large;
	}

	.container.second li {
		border-bottom: 2px solid rgb(60, 60, 60);
	}

	.main__navigation[data-visible="true"] {
		transform: translateX(0%);
	}

	.navigation {
		align-items: center;
		justify-content: space-between;
	}




	/* container third */

	.stock {
		/* align-items: center; */
		/* justify-content: space-between; */
		overflow: auto;
		white-space: nowrap;
	}

	.main__stock {
		display: inline-block;
		gap: 1rem !important;
		justify-content: space-between;
		flex-direction: row;
		list-style: none;
		overflow: auto;
		white-space: nowrap;
		margin-top: 2rem;
		padding-left: 0rem;
		width: 100%;
		border-bottom: 2px solid rgb(200, 200, 200);
		border-top: 2px solid rgb(200, 200, 200);
		margin-bottom: 1rem;
	}

	/* .stock__item a:hover {
	background-color: yellow;
} */

	.stock__item {
		display: inline-block;
		/* text-align: center; */
		width: 39.5%;
	}

	.main__stock.flex.spaced {
		display: block;
		gap: 5rem;
	}

	.price {
		font-weight: lighter;
	}

	.percentage_minus {
		font-weight: bold;
		color: red;
	}

	.percentage_plus {
		font-weight: bold;
		color: green;
	}




	/* MAIN */
	/* container fourth */
	.main {
		position: relative;
		width: 100%;
	}

	.fourth {
		position: relative;
		display: flex;
		flex-direction: column;
	}

	.markets {
		position: relative;
		inset: unset;
		align-items: center;
		justify-content: space-between;
		text-align: left;
		order: 1;
		flex-basis: 100%;
		flex-shrink: 1;
		margin: 0;
	}

	.tradingpic {
		display: absolute;
		top: 0;
		left: 0;
		max-width: 100%;
		width: 100%;
		padding-bottom: 1rem;
	}

	.whiteONblack {
		position: absolute;
		border: 1px solid black;
		padding: 2px 8px 2px 8px;
		top: 1.8rem;
		left: 1.65rem;
		color: white;
		background-color: black;
	}

	.whiteONtop {
		position: absolute;
		bottom: 6rem;
		left: 1.5rem;
		color: white;
		font-size: 2rem;
		line-height: 1em;
		width: 35rem;
	}

	.grayONtop {
		position: absolute;
		bottom: 2rem;
		left: 1.57rem;
		color: rgb(100, 100, 100);
		font-size: small;
	}

	.grayONtop__button {
		position: absolute;
		border: 1px solid rgb(100, 100, 100);
		border-radius: 25px;
		padding: 2px 8px 2px 8px;
		bottom: 2rem;
		right: 1.5rem;
		color: rgb(100, 100, 100);
		font-size: small;
	}

	.latest {
		flex-direction: row;
		align-items: center;
		justify-content: center;
		order: 2;
		flex-shrink: 0;
		width: 100%;
	}

	.main__latest {
		position: relative;
		flex-direction: column;
		gap: 1rem !important;
		inset: unset;
		padding: 0rem 0rem 0.5rem 0rem;
		width: 100%;
		justify-content: space-between;
		list-style: none;
		text-align: left;
		overflow: hidden;
	}

	.latest__item.pink {
		display: none;
	}

	a.black.lineh {
		display: block;
		height: auto;
		width: 100%;
	}

	li.latest__item.graydivider {
		border-left: none;
		border-bottom: 2px solid rgb(200, 200, 200);
		padding-left: 0px;
		padding-bottom: 0.5rem;
	}

	li.latest__item.plus.graydivider {
		border-left: none;
		padding-left: 0rem;
	}

	.graydivider {
		border-bottom: none;
		padding-bottom: none;
	}

	.pink {
		background-color: rgba(255, 192, 203, 0.4);
		border-left: 5px solid red;
		padding: 0%;
		margin-bottom: 1rem;
		line-height: 1em;
	}

	.plus {
		border-top: none;
		padding-bottom: none;
	}

	.greysmall {
		color: rgb(200, 200, 200);
		font-size: small;
		padding-top: 0.75rem;
		padding-bottom: 0.2rem;
		height: 1rem;
	}

	.greybold {
		color: black;
		text-decoration: none;
		transition: all .33s ease-in-out;
		white-space: nowrap;
		font-size: small;
	}

	.blackbold {
		color: black;
		text-decoration: none;
		transition: all .33s ease-in-out;
		font-size: small;
	}

	/* li.active a {
  font-weight: bold;
} */

	a:hover {
		color: #7a7a7a;
		text-decoration: none;
	}




	/* FOOTER */

	footer {
		display: block;
		position: relative;
		width: 840px;
	}

	.overflow_test2 {
		position: absolute;
		width: 1000vw;
		margin-left: -500vw;
		left: 50%;
		height: 100%;
		background-color: #111111;
		overflow: hidden;
		margin-bottom: -2rem;
		padding-top: 4rem;
	}




	/* container fifth */

	.fifth {
		display: flex;
		flex-direction: column;
		position: relative;
		width: 100%;
		justify-content: center;
		padding: 0rem 0rem 2rem 0rem;
		gap: 1rem !important;
		inset: unset;
		flex-wrap: nowrap;
		margin-top: 2rem;

	}

	.online__ {
		display: block;
		position: absolute;
	}

	.online__first {
		position: absolute;
		height: 2.5rem;
	}

	.online__second {
		display: flex;
		position: absolute;
		top: -3rem;
		flex-direction: row;
	}

	.logo_white_capsoff {
		position: absolute;
		left: -0.5rem;
		top: 2.2rem;
		width: 10rem;
	}

	.online {
		flex-direction: column;
		width: 10rem;
	}

	.socialnetworks {
		position: relative;
		width: 2rem;
	}

	.info1 {
		position: relative;
		flex-direction: row;
		gap: 0rem !important;
		inset: unset;
		justify-content: space-between;
		list-style: none;
		width: 600px;
		padding: 8rem 0rem 1rem 0rem;

	}

	.media {
		position: relative;
		flex-direction: column;
	}

	.media1 {
		position: relative;
		flex-direction: column;
	}

	.media2 {
		position: relative;
		flex-direction: column;
	}

	.active {
		margin-bottom: 2rem;
	}

	.main__media {
		position: relative;
		flex-direction: column;
		inset: unset;
		list-style: none;
		text-align: left;
		padding: 0;
	}

	.whiteONblacksmall {
		color: white;
		height: 1rem;
	}

	.lightgrey {
		color: rgb(100, 100, 100);
		margin: 0rem;
		font-size: small;
	}

	.media_blank {
		width: 0.01px;
	}

	.help {
		position: relative;
		flex-direction: row;
		gap: 1rem !important;
		inset: unset;
		justify-content: space-between;
		list-style: none;
		width: 600px;
		border-top: 2px solid rgb(60, 60, 60);
		padding: 1rem 0rem 0rem 0rem;
		margin-bottom: -2rem;
	}

	.darkgrey {
		color: rgb(60, 60, 60);
		margin: 0rem;
		font-size: small;
	}

	.shrink {
		flex-grow: 1.78;
	}

	.grow {
		flex-grow: 2;
	}

	.main__help {
		position: relative;
		flex-direction: row;
		gap: 1rem !important;
		inset: unset;
		justify-content: space-between;
		list-style: none;
		width: 100%;
		padding: 0rem 0rem 0rem 0rem;
		flex: 2;
		flex-direction: row;
		text-align: right;
	}




	/* Utility */

	.flex {
		display: flex;
	}

	.flex.spaced {
		gap: var(--x-gap, --y-gap);
	}

	.black {
		color: black;
		margin: 0rem;
	}

	.lineh {
		display: block;
		line-height: 1.2;
	}

	.blackbold {
		color: black;
		font-weight: bold;
		margin: 0rem;
	}

	.grey {
		color: rgb(150, 150, 150);
	}

	.greybold {
		color: rgb(150, 150, 150);
		font-weight: bold;
	}




	/* MEDIA SCREEN TO SECONDARY PAGE */

	@media screen and (min-width: 45rem) {

		/* Variables */

		:root {
			--x-gap: 1.8rem;
			--y-gap: 1rem;
		}

		/* General */

		body {
			zoom: 0.8;
			background: white;
			background-repeat: no-repeat;
			background-size: auto;
			font-family: Arial, Helvetica, sans-serif;
			overflow-y: auto;
			overflow-x: hidden;
		}

		.principal {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}

		.principal__center {
			margin-left: 0rem;
			margin-right: 0rem;
			width: 840px;
			flex-direction: column;
		}




		/* HEADER */
		/* container first */

		.first {
			display: none;
		}

		.logo {
			display: none;
		}

		.logo_black_capsoff {
			zoom: 1;
			position: relative;
			width: 9rem;
			top: 1rem;
			left: -0.5rem;
		}

		.mobile-nav__toggle {
			background: url('https://res.cloudinary.com/dewznnjqr/image/upload/v1678117897/menu_lmrywe.webp');
			background-repeat: no-repeat;
			border: 0;
			display: block;
			background-size: contain;
			position: absolute;
			width: 3rem;
			aspect-ratio: 1;
			top: 1.5rem;
			right: 1rem;
			z-index: 9999;
		}

		.sr-only {
			position: absolute;
			width: 1px;
			height: 1px;
			padding: 0;
			margin: -1px;
			overflow: hidden;
			clip: rect(0, 0, 0, 0);
			border: 0;
		}




		/* container second */

		.divider {
			display: none;
		}

		.main__navigation {
			position: fixed;
			inset: 0 0 0 0%;
			flex-direction: column;
			padding: 70px 18px 0px 18px;
			display: inline-block;
			list-style: none;
			margin: 0px;
			text-align: right;
			transform: translateX(100%);
			transition: all .33s ease-in-out;
			background-color: #111111 !important;
		}

		.container.second a {
			color: white;
			font-size: large;
		}

		.container.second li {
			border-bottom: 2px solid rgb(60, 60, 60);
		}

		.main__navigation[data-visible="true"] {
			transform: translateX(0%);
		}

		.navigation {
			align-items: center;
			justify-content: space-between;
		}




		/* container third */

		.stock {
			/* align-items: center; */
			/* justify-content: space-between; */
			overflow: auto;
			white-space: nowrap;
		}

		.main__stock {
			display: inline-block;
			gap: 1rem !important;
			justify-content: space-between;
			flex-direction: row;
			list-style: none;
			overflow: auto;
			white-space: nowrap;
			margin-top: 2rem;
			padding-left: 0rem;
			width: 100%;
			border-bottom: 2px solid rgb(200, 200, 200);
			border-top: 2px solid rgb(200, 200, 200);
			margin-bottom: 1rem;
		}

		/* .stock__item a:hover {
	background-color: yellow;
} */

		.stock__item {
			display: inline-block;
			/* text-align: center; */
			width: 25%;
		}

		.main__stock.flex.spaced {
			display: block;
			gap: 5rem;
		}

		.price {
			font-weight: lighter;
		}

		.percentage_minus {
			font-weight: bold;
			color: red;
		}

		.percentage_plus {
			font-weight: bold;
			color: green;
		}





		/* MAIN */
		/* container fourth */

		.fourth {
			display: flex;
			flex-direction: column;
		}

		.markets {
			position: relative;
			inset: unset;
			align-items: center;
			justify-content: space-between;
			text-align: left;
			order: 1;
			flex-basis: 100%;
			flex-shrink: 1;
			margin: 0;
		}

		.tradingpic {
			display: absolute;
			top: 0;
			left: 0;
			max-width: 100%;
			width: 100%;
			padding-bottom: 1rem;
		}

		.whiteONblack {
			position: absolute;
			border: 1px solid black;
			padding: 2px 8px 2px 8px;
			top: 1.8rem;
			left: 1.65rem;
			color: white;
			background-color: black;
		}

		.whiteONtop {
			position: absolute;
			bottom: 6rem;
			left: 1.5rem;
			color: white;
			font-size: 2rem;
			line-height: 1em;
			width: 35rem;
		}

		.grayONtop {
			position: absolute;
			bottom: 2rem;
			left: 1.57rem;
			color: rgb(100, 100, 100);
			font-size: small;
		}

		.grayONtop__button {
			position: absolute;
			border: 1px solid rgb(100, 100, 100);
			border-radius: 25px;
			padding: 2px 8px 2px 8px;
			bottom: 2rem;
			right: 1.5rem;
			color: rgb(100, 100, 100);
			font-size: small;
		}

		.latest {
			flex-direction: row;
			align-items: center;
			justify-content: center;
			order: 2;
			flex-shrink: 0;
			width: 100%;
		}

		.main__latest {
			position: relative;
			flex-direction: row;
			gap: 1rem !important;
			inset: unset;
			padding: 0rem 0rem 0.5rem 0rem;
			width: 100%;
			justify-content: space-between;
			list-style: none;
			text-align: left;
			overflow: hidden;
		}

		.latest__item.pink {
			display: none;
		}

		a.black.lineh {
			display: block;
			height: 5rem;
			width: 240px;
		}

		li.latest__item.graydivider {
			border-left: 2px solid rgb(200, 200, 200);
			border-bottom: none;
			padding-left: 30px;
			padding-bottom: 0rem;
		}

		li.latest__item.plus.graydivider {
			border-left: none;
			padding-left: 0rem;
		}

		.graydivider {
			border-bottom: none;
			padding-bottom: none;
		}

		.pink {
			background-color: rgba(255, 192, 203, 0.4);
			border-left: 5px solid red;
			padding: 0%;
			margin-bottom: 1rem;
			line-height: 1em;
		}

		.plus {
			border-top: none;
			padding-bottom: none;
		}

		.greysmall {
			color: rgb(200, 200, 200);
			font-size: small;
			padding-top: 0.75rem;
			padding-bottom: 0.2rem;
			height: 1rem;
		}

		.greybold {
			color: black;
			text-decoration: none;
			transition: all .33s ease-in-out;
			white-space: nowrap;
			font-size: small;
		}

		.blackbold {
			color: black;
			text-decoration: none;
			transition: all .33s ease-in-out;
			font-size: small;
		}

		/* li.active a {
  font-weight: bold;
} */

		a:hover {
			color: #7a7a7a;
			text-decoration: none;
		}




		/* FOOTER */

		footer {
			display: block;
			position: relative;
			width: 840px;
		}

		.overflow_test2 {
			position: absolute;
			width: 1000vw;
			margin-left: -500vw;
			left: 50%;
			height: 100%;
			background-color: #111111;
			overflow: hidden;
			margin-bottom: -2rem;
			padding-top: 4rem;
		}




		/* container fifth */

		.fifth {
			display: flex;
			flex-direction: column;
			position: relative;
			width: 100%;
			justify-content: center;
			padding: 0rem 0rem 2rem 0rem;
			gap: 1rem !important;
			inset: unset;
			flex-wrap: nowrap;
			margin-top: 2rem;

		}

		.online__ {
			position: relative;
			display: block;
			top: 0rem;
		}

		.online__first {
			position: relative;
			height: 2.5rem;
		}

		.online__second {
			display: block;
			position: relative;
			top: 0rem;
		}

		.logo_white_capsoff {
			position: absolute;
			left: -0.5rem;
			top: 2.2rem;
			width: 10rem;
		}

		.online {
			flex-direction: column;
			width: 10rem;
		}

		.socialnetworks {
			position: relative;
			width: 2rem;
		}

		.info1 {
			position: relative;
			flex-direction: row;
			gap: 1rem !important;
			inset: unset;
			justify-content: space-between;
			list-style: none;
			width: 100%;
			padding: 3rem 0rem 1rem 0rem;

		}

		.media {
			position: relative;
			flex-direction: column;
		}

		.media1 {
			position: relative;
			flex-direction: column;
		}

		.media2 {
			position: relative;
			flex-direction: column;
		}

		.active {
			margin-bottom: 2rem;
		}

		.main__media {
			position: relative;
			flex-direction: column;
			inset: unset;
			list-style: none;
			text-align: left;
			padding: 0;
		}

		.whiteONblacksmall {
			color: white;
			height: 1rem;
		}

		.lightgrey {
			color: rgb(100, 100, 100);
			margin: 0rem;
			font-size: small;
		}

		.media_blank {
			width: 0.01px;
		}

		.help {
			position: relative;
			flex-direction: row;
			gap: 1rem !important;
			inset: unset;
			justify-content: space-between;
			list-style: none;
			width: 100%;
			border-top: 2px solid rgb(60, 60, 60);
			padding: 1rem 0rem 0rem 0rem;
			margin-bottom: -2rem;
		}

		.darkgrey {
			color: rgb(60, 60, 60);
			margin: 0rem;
			font-size: small;
		}

		.shrink {
			flex-grow: 1.78;
		}

		.grow {
			flex-grow: 2;
		}

		.main__help {
			position: relative;
			flex-direction: row;
			gap: 1rem !important;
			inset: unset;
			justify-content: space-between;
			list-style: none;
			width: 100%;
			padding: 0rem 0rem 0rem 0rem;
			flex: 2;
			flex-direction: row;
			text-align: right;
		}




		/* Utility */

		.flex {
			display: flex;
		}

		.flex.spaced {
			gap: var(--x-gap, --y-gap);
		}

		.black {
			color: black;
			margin: 0rem;
		}

		.lineh {
			display: block;
			line-height: 1.2;
		}

		.blackbold {
			color: black;
			font-weight: bold;
			margin: 0rem;
		}

		.grey {
			color: rgb(150, 150, 150);
		}

		.greybold {
			color: rgb(150, 150, 150);
			font-weight: bold;
		}




		/* MEDIA SCREEN TO MAIN PAGE */

		@media screen and (min-width: 60rem) {

			/* Variables */

			:root {
				--x-gap: 10rem;
				--y-gap: 10rem;
			}

			/* GENERAL */

			body {
				zoom: 0.8;
				overflow-y: auto;
				overflow-x: hidden;
			}

			.mobile-nav__toggle {
				display: none;
			}

			.principal {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
			}

			.principal__center {
				width: 1200px;
				max-width: 1200px;
				margin-bottom: 0rem;
				margin-left: 0rem;
				margin-right: 0rem;
				flex-direction: column;
			}




			/* HEADER */
			/* container first */

			.first {
				display: block;
				position: relative;
				margin: 0rem 4.3rem 0rem 0rem;
				padding-top: 0.5rem;
				padding-bottom: 0.1rem;
				height: 3.8rem;
			}

			.logo__main {
				position: absolute;
				max-width: 10rem;
				padding: 1rem 1rem 2rem 1px;
				left: 0rem;
				font-size: 10px;
				white-space: nowrap;
				overflow: hidden;
				margin: 0rem;
				margin-left: 3.725rem;
				top: 0.1rem;
			}

			.logo_black_capsoff {
				display: none;
			}

			.main__search {
				position: relative;
				flex-direction: row;
				gap: 2rem !important;
				inset: unset;
				padding: 1rem 0rem 0rem 0rem;
				transform: translateX(0%);
				width: 100%;
				justify-content: right;
				flex-wrap: nowrap;
				list-style: none;
				margin: 0rem;
			}

			.search {
				width: 1rem;
				height: 1rem;
				padding: 0rem;
				left: 0rem;
				font-size: 10px;
				white-space: nowrap;
				margin-top: 0.3rem;
			}

			.edition {
				text-decoration-line: underline;
				padding: 0.5rem;
			}

			.signin {
				padding: 0.5rem;
			}

			.signup {
				border: 1px solid rgb(200, 200, 200);
				padding-bottom: 0.2rem;
				padding-top: 0.1rem;
				padding-left: 0.5rem;
				padding-right: 0.5rem;
				margin-bottom: 2rem;
				margin-top: 0.3rem;
			}




			/* container second */

			.second {
				position: relative;
				margin-top: 0rem;
				margin-left: 4.3rem;
				margin-right: 4.3rem;
				justify-content: space-between;
			}

			.main__navigation {
				position: relative;
				flex-direction: row;
				gap: 0.01rem !important;
				inset: unset;
				padding: 0.5rem 0rem 0.5rem 0rem;
				transform: translateX(0%);
				border-top: 2px solid rgb(200, 200, 200);
				border-bottom: 2px solid rgb(200, 200, 200);
				width: 100%;
				justify-content: space-between;
				flex-wrap: nowrap;
				background-color: white !important;
			}

			.navigation__item.noborder {
				display: none;
				position: absolute;
			}

			.container.second a {
				color: rgb(150, 150, 150);
				font-size: small;
			}

			.container.second li {
				border-bottom: none;
			}

			.divider {
				display: inline;
				width: 1px;
				margin: 6px 0;
				background: rgb(200, 200, 200);
			}

			.logo {
				display: none;
			}

			.logo_white_capsoff_button {
				display: none;
				position: absolute;
				inset: 0 0 0 0%;
				transform: translateX(100%);
				transition: all .33s ease-in-out;
				left: 0rem;
				top: 0rem;
				width: 10rem;
				z-index: 2;
			}




			/* container third */

			.third {
				display: block;
				position: relative;
				margin: 0rem 4.3rem 1rem 4.3rem;
			}

			.main__stock {
				position: relative;
				flex-direction: row;
				gap: 1.5rem !important;
				inset: unset;
				padding: 0.5rem 0rem 0.5rem 0rem;
				transform: translateX(0%);
				border-bottom: 2px solid rgb(200, 200, 200);
				width: 100%;
				justify-content: space-between;
				flex-wrap: nowrap;
				list-style: none;
				margin-top: 0rem;
				border-top: none;
				margin-bottom: 0.5rem;
			}

			.stock__item {
				display: inline-block;
				width: 25%;
			}

			.main__stock.flex.spaced {
				display: flex;
				gap: 0rem;
			}

			.price {
				font-weight: lighter;
			}

			.percentage_minus {
				font-weight: bold;
				color: red;
			}

			.percentage_plus {
				font-weight: bold;
				color: green;
			}


			/* MAIN */
			/* container fourth */

			.fourth {
				display: flex;
				flex-direction: row;
				position: relative;
				width: 100%;
				justify-content: center;
				padding: 0rem 4.3rem 0rem 4.3rem;
				gap: 1rem !important;
				inset: unset;
				flex-wrap: nowrap;
			}

			.markets {
				position: relative;
				inset: unset;
				align-items: center;
				justify-content: space-between;
				text-align: left;
				order: 1;
				flex-basis: 100%;
				flex-shrink: 1;
				margin: 0;
			}

			.tradingpic {
				display: absolute;
				top: 0;
				left: 0;
				width: 51.1rem;
				max-width: 51.1rem;
				padding-bottom: 1rem;
			}

			.whiteONblack {
				position: absolute;
				border: 1px solid black;
				padding: 2px 8px 2px 8px;
				top: 1.8rem;
				left: 1.65rem;
				color: white;
				background-color: black;
			}

			.whiteONtop {
				position: absolute;
				bottom: 6rem;
				left: 1.5rem;
				color: white;
				font-size: 2rem;
				line-height: 1em;
				width: 35rem;
			}

			.grayONtop {
				position: absolute;
				bottom: 2rem;
				left: 1.57rem;
				color: rgb(100, 100, 100);
				font-size: small;
			}

			.grayONtop__button {
				position: absolute;
				border: 1px solid rgb(100, 100, 100);
				border-radius: 25px;
				padding: 2px 8px 2px 8px;
				bottom: 2rem;
				right: 1.5rem;
				color: rgb(100, 100, 100);
				font-size: small;
			}

			.latest {
				align-items: center;
				justify-content: space-between;
				order: 2;
				flex-shrink: 0;
				width: 14.3rem;
			}

			.main__latest {
				position: relative;
				flex-direction: column;
				gap: 0.01rem !important;
				inset: unset;
				padding: 0rem 0rem 0.5rem 0rem;
				width: 100%;
				justify-content: space-between;
				list-style: none;
				text-align: left;
				overflow: hidden;
			}

			.latest__item.pink {
				display: block;
			}

			a.black.lineh {
				display: block;
				height: 100%;
				width: 100%;
			}

			li.latest__item.graydivider {
				border-left: none;
				border-bottom: 2px solid rgb(200, 200, 200);
				padding-left: 0rem;
				padding-bottom: 0.5rem;
			}

			li.latest__item.plus.graydivider {
				border-left: none;
				padding-left: 0rem;
			}

			.graydivider {
				border-bottom: 2px solid rgb(200, 200, 200);
				padding-bottom: 0.5rem;
			}

			.pink {
				background-color: rgba(255, 192, 203, 0.4);
				border-left: 5px solid red;
				padding: 0%;
				margin-bottom: 1rem;
				line-height: 1em;
			}

			.plus {
				border-top: 2px solid rgb(200, 200, 200);
				padding-bottom: 0.5rem;
			}

			.greysmall {
				color: rgb(200, 200, 200);
				font-size: small;
				padding-top: 0.75rem;
				padding-bottom: 0.2rem;
				height: 1rem;
			}

			.overflow_test2 {
				position: absolute;
				width: 1000vw;
				margin-left: -500vw;
				left: 50%;
				height: 100%;
				background-color: #111111;
				overflow: hidden;
			}




			/* FOOTER */

			footer {
				display: block;
				position: relative;
				width: 100%;
			}




			/* container fifth */

			.fifth {
				display: flex;
				flex-direction: column;
				position: relative;
				width: 100%;
				justify-content: center;
				padding: 3rem 4.3rem 0rem 4.3rem;
				gap: 1rem !important;
				inset: unset;
				flex-wrap: nowrap;
				margin-top: 2rem;
			}

			.online__ {
				position: relative;
				display: block;
				top: -2rem;
			}

			.online__first {
				position: relative;
				height: 2.5rem;
			}

			.online__second {
				display: block;
				position: relative;
				top: 2rem;
			}

			.logo_white_capsoff {
				position: absolute;
				left: 3.725rem;
				top: 5.2rem;
				width: 10rem;
			}

			.online {
				flex-direction: column;
				width: 10rem;
			}

			.socialnetworks {
				position: relative;
				width: 2rem;
			}

			.info1 {
				position: relative;
				flex-direction: row;
				gap: 1rem !important;
				inset: unset;
				justify-content: space-between;
				list-style: none;
				width: 100%;
				padding: 3rem 0rem 1rem 0rem;
			}

			.media {
				position: relative;
				flex-direction: column;
			}

			.media1 {
				position: relative;
				flex-direction: column;
			}

			.media2 {
				position: relative;
				flex-direction: column;
			}

			.active {
				margin-bottom: 2rem;
			}

			.main__media {
				position: relative;
				flex-direction: column;
				inset: unset;
				list-style: none;
				text-align: left;
				padding: 0;
			}

			.whiteONblacksmall {
				color: white;
				height: 1rem;
			}

			.lightgrey {
				color: rgb(100, 100, 100);
				margin: 0rem;
				font-size: small;
			}

			.media_blank {
				width: 0.01px;
			}

			.help {
				position: relative;
				flex-direction: row;
				gap: 1rem !important;
				inset: unset;
				justify-content: space-between;
				list-style: none;
				width: 100%;
				border-top: 2px solid rgb(60, 60, 60);
				padding: 1rem 0rem 0rem 0rem;
				margin-bottom: -2rem;
			}

			.darkgrey {
				color: rgb(60, 60, 60);
				margin: 0rem;
				font-size: small;
			}

			.shrink {
				flex-grow: 1.78;
			}

			.grow {
				flex-grow: 2;
			}

			.main__help {
				position: relative;
				flex-direction: row;
				gap: 1rem !important;
				inset: unset;
				justify-content: space-between;
				list-style: none;
				width: 100%;
				padding: 0rem 0rem 0rem 0rem;
				flex: 2;
				flex-direction: row;
				text-align: right;
			}




			/* Utility */

			.flex {
				display: flex;
			}

			.black {
				color: black;
				margin: 0rem;
			}

			.lineh {
				display: block;
				line-height: 1.2;
			}

			.blackbold {
				color: black;
				font-weight: bold;
				margin: 0rem;
			}

			.grey {
				color: rgb(150, 150, 150);
			}

			.greybold {
				color: rgb(150, 150, 150);
				font-weight: bold;
			}
		}

		@media screen and (min-width: 67.5rem) {
			body {
				zoom: 0.9;
			}
		}

		@media screen and (min-width: 75rem) {
			body {
				zoom: 1;
			}
		}

		@media screen and (min-width: 82.5rem) {
			body {
				zoom: 1.1;
			}
		}

		@media screen and (min-width: 97.5rem) {
			body {
				zoom: 1.2;
			}
		}

		@media screen and (min-width: 105rem) {
			body {
				zoom: 1.3;
			}
		}
	}
}
